/*메뉴 들어가는 부분*/
.panel {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 100%;
  width: 80%;
  background-color: #383b42;
}

.panel .ninja-btn {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  display: inline-block;
  float: left;
  cursor: pointer;
  padding: 30.285714px 31px;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 30px;
  height: 20.18181818px;
}
.panel .ninja-btn span,
.panel .ninja-btn span:before,
.panel .ninja-btn span:after {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.panel .ninja-btn span {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 9.09090909px;
}
.panel .ninja-btn span:before,
.panel .ninja-btn span:after {
  content: "";
  position: absolute;
  left: 0;
}
.panel .ninja-btn span:before {
  top: -9.09090909px;
}
.panel .ninja-btn span:after {
  top: 9.09090909px;
}

/*메뉴 클릭후, 메뉴 버튼을 활성화 시켰을때 속성*/
.panel .ninja-btn.active span {
  background-color: transparent;
}
.panel .ninja-btn.active span:before,
.panel .ninja-btn.active span:after {
  top: 0;
}
.panel .ninja-btn.active span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.panel .ninja-btn.active span:after {
  -webkit-transition-delay: 0.09s;
  -moz-transition-delay: 0.09s;
  -o-transition-delay: 0.09s;
  -msa-transition-delay: 0.09s;
  transition-delay: 0.09s;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
.panel ul {
  width:100%;
  list-style-type: none;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  top: 15%;
  left: 0;
  right: 60px;
  height: auto;
  text-align: left;
}

.panel ul li,
.panel ul a {
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 1.4;
  padding: 0;
  font-weight: 200;
}
.panel ul li{
  height:45px;
  border-top: 1px solid #474a50;
}
.panel ul li.menu-label a{
  padding:11px 0 0 40px;
  height:100%;
  display:block;
  font-size: 17px;
  text-transform: lowercase;
}
.panel ul li.menu-label:first-child {
  border-top: 0;
}

.panel ul li.menu-contacts a {
  font-size: 16px;
  text-transform: inherit;
}

/* 안보이는 패널위치고정 */
.panel-overlay {
  position: fixed;
  top: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.panel.left {
  left: -800px;
}
/*패널 버튼 부분 위치*/
.panel.left .ninja-btn {
  left: 790px;
}
/* 패널이 활성화 되었을때 */
.panel.left.active {
  left: 0;
  overflow: scroll;
}
.panel.left.active .ninja-btn {
  left: 100%;
  margin-left: -90px;
}

.panel ul li.sub-menu{
  background: #2e333c;
  padding:11px 0 0 50px;
}


